body {
  margin: 0;
}

.lodge_name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #717171;
}

.top {
  width: 100%;
  padding: 0 100px;
  display: block;
}

.top-text {
  margin-bottom: 10px;
  padding-top: 30px;
}

.contact {
  margin-top: 100px !important;
}
.map-area {
  margin: 100px auto !important;

}

.where-lodge {
  font-size: 14px;
  color: #717171;
  font-style: sans-serif;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-image {
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 100px;
  margin-top: 40px;
}

.show-images {
  height: 500px;
  width: 500px;
}

.under {
  width: 100%;
  display: block;
}

.under-child1 {
  padding: 0 200px;
  flex-grow: 1;
}

.child1-title {
  font-weight: bolder;
  font-size: 40px;
  color: #717171
}

.under-child2 {
  flex-grow: 1;
  padding: 0 200px;
  margin-top: 100px;
}

#map {
  height: 400px;
  width: 100%;
}

footer {
  color: #dddddd;
  display: flex;
  justify-content: center;
}
