<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class="nav-bar">
      <li class="contents"><%= link_to 'ホストになる', new_host_user_registration_path, class:'sign-up' %></li>
      <li class="contents"><%= link_to '概要', class:'outline' %></li>
    </ul>
  </div>
</header>