<%= render "shared/header" %>

<div class="main">
  <div class="title-contents">
    <%= image_tag "homeindex_moter.jpg", class: 'main-img'%>
    <h2>ライダーハウス
      <span>登録数No.1<span>
    </h2>
  </div>
</div>