<%= render "shared/header" %>

<div class="contents row">
  <div class="main">
    <% @lodges.each do |lodge| %>
      <div class="swiper-container">
          <div class="swiper-wrapper">
            <% lodge.images.each do |image| %>
              <div class="swiper-slide">
                <%= link_to lodging_path(lodge.id), method: :get do %>
                  <%= image_tag image, class:'images'%>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
    <% end %>
  </div>

  <footer>©️ Kanako Kurasawa2020</footer>

  <script>
    var Swiper = new Swiper('.swiper-container', {
    direction: 'vertical',
    loop: true,
    
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });
  </script>
</div>